mat-toolbar {
  background: black;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background:black;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  
}

.content {
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;
  border:1px solid black
}

// mat-sidenav-container {
//   height: calc(100vh - 65px);
// }

.menu-button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  margin:10px auto;

  mat-icon {
    margin-right: 8px;
  }
}
.menu-button:hover {
  transition: 0.2s ease-in;
  color: hotpink;
  border: 1px solid hotpink;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
// logout
.logout{
  cursor: pointer;
  margin-top: 40px;
  float: right;

}

.logout:hover{
  transform: scale(1.05);
  color: hotpink;

}
  
